body {
    background-color: lightgray;
}

.wrapper {
    width: 960px;
    margin: 0 auto;
}

.wrapper-slim {
    width: 800px;
    margin: 0 auto;
}

.inside-wrapper {
    width: 900px;
    margin: 0 auto;
}

.inside-wrapper-slim {
    width: 790px;
    margin: 0 auto;
}

header {
    height: 70px;
    width: 100%;
    color: #777777;
    background-color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-style: groove;
    border-width: .5px;
    border-color: grey;
    border-top-width: 0px;
    position: absolute;
    top: 0px;
}

header::after {
        content: "";
        clear: both;
        display: table;
    }

.name-box {
    width: 192px;
    height: 69px;
    color: #ffffff;
    background-color: #4aaaa5;
    text-align: center;
    float: left;
    border-left-style: outset;
    border-left-width: 1px;
    border-right-style: outset;
    border-right-width: 1px;
    border-bottom-style: outset;
    border-bottom-width: 1px;
    margin-left: -5px;
}

nav {
    width: 0 auto;
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 25px;
}

a      {
    color: grey;
}

a:hover {
    color: blue;
}

main {
    background-color: #ffffff;
    border-style: groove;
    border-width: .5px;
    border-color: grey;
    margin: 90px 0px 20px 0px;
}

#main-content-heading {
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 10px;
}

#main-content-heading-2 {
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 10px;
    margin-left: 17px;
}

#horizontal-bar-1 {
    margin-bottom: 20px;
    width: 900px;
}

#horizontal-bar-2 {
    margin-bottom: 20px;
    width: 750px;
}

#headshot {
    width: 157px;
    height: 116px;
    float: left;
    margin-top: 15px;
    padding-bottom: 10px;
    padding-right: 15px;
    margin-left: 0;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    letter-spacing: 1.5px;
    color: #777777;
    line-height: 1.5;
}

footer {
    position: absolute;
    width: 100%;
    padding: 40px 0px;
    background-color: dimgrey;
    border-top-width: 10px;
    border-top-style: solid;
    border-top-color: #4aaaa5;
 }

#gallery {
    border-spacing: 0px 40px;
}

img {
    width: 233px;
    height: 180px;
    margin-right: 10px;
    margin-left: 20;
    margin-top: -25;
}

.form-container {
    float: left;
}

#message {
    height: 200px;
    width: 750;
    margin-left: 24;
    margin-top: 15px;
}

label {
    margin-left: 17px;
}

#fname {
    width: 750px;
    margin: 20px 15px 10px 20px
}

.submit {
    margin-left: 20px;
    margin-bottom: 20px;
    color: #4aaaa5;
    font-weight: bold
}
    

